*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #000000, #008000);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container{
    background: white;
    max-width: 300px;
    min-height: 10vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}

main .header{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;    
}

main .header .navbar a{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to right, #000000, #008000);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-decoration: none;
}

main .header .navbar a:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #008000, #00ff00);
}

main h2{
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #000000, #00ff00);    
}

form{
    display: flex;
    flex-direction: column;
}

.input-field{ 
    position: relative;
}

form .input-field:first-child{
    margin-bottom: 1.5rem;
}

.input-field .underline::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #00ff00, #008000);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after{
    transform: scaleX(1);

}

.input-field input{
    outline: none;
    font-size: 0.9rem;
    font-style: italic;
}

.input-field input::placeholder{ 
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"]{
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #008000, #000000);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover{
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #008000, #00ff00);
}