@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    background: #000000;
    background: -webkit-linear-gradient(45deg, #000000, #008000);
    background: linear-gradient(45deg, #000000, #008000);
    min-height: 100vh;
}