<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastrar.css">
    <title>Cadastro</title>
</head>
<body>
  <main class="container">
    <div class="header">
      <nav class="navbar">
        <a href="./">Home</a>
      </nav>
    </div>

    <h2>Adicionar Contato</h2>
    <form action="/cadastrar" method="POST">
      <div class="input-field">
        <input type="text" name="nome" id="nome" placeholder="Nome" required>
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input type="email" name="email" id="email" placeholder="E-mail" required>
        <div class="underline"></div>
      </div>

      <input type="submit" value="Adicionar">
    </form>
  </main>
</body>
</html>